body, ul, li, h1, h2, a{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  }
  
  
  
  header {
  background-color: orange;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0px;
  left: 0px; 
  }
  
  header h1{
  color: white;
  border: 8px solid white;
  padding: 6px 12px; 
  display: inline-block;
  border-radius: 36px;
  box-shadow: 0px 2px 20px black;
  
  }
  
  .banner {
  width: 100%;
  flex-basis: 100%
  }
  
  .image-content {
  background-color:orange;
  position: relative;
  height: 100%;
  object-fit: contain;
  }
  
  #images li {
    list-style-type: none;
  }
  
  .banner .welcome{
    background-color: transparent;
    color: whitesmoke;
    text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
    position: absolute;
    left: 0px;
    top: 30%; 
  }
  
  .banner h2 {
  
    font-size: 90px;
    font-family: 'Liu Jian Mao Cao', cursive;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .banner h1 {
  
    font-size: 90px;
    font-family: 'Liu Jian Mao Cao', cursive;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  nav{
    background-color:orange;
    margin: 0 auto;
    padding: 40px;   
    position: sticky; 
    top: 100px; 
    box-shadow: 0px 2px 0px lightgray;
  }
  
  .nav_items {
    display:flex;
  }
  
  .hej{
    width: 30%;
    display: flex;
    align-content: center;
  }
  
  
  .welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
  }
  
  
  nav li{
      width: 16%;
      display: inline-block;
      font-size: 24px;
  }
  
  nav ul li {
      display: inline-block;
      list-style: none;
    }
  
  nav li a{
  text-decoration: none;
  color: white; 
  }
  nav li a.join{
  color: black;
  }
  
  nav ul li a {
      display: block;
      padding: 1px;
      text-decoration: none;
      color: white;
      font-weight: 800;
      text-transform: uppercase;
      margin: 0 10px;
  }
  
  nav ul li a:hover {
    color: orange;
    border-radius: 36px;
  }
  
  
  
  main{
    max-width: 100%;
    width: 1200px; 
    margin: 80px auto; 
    padding: 0 40px;
    box-sizing: border-box;
  }
  
  
  ul li img {
  
  width: 300px;
  height: auto; 
  
  
  }
  
  /* h1 & h2 animationen */
  
  @keyframes slidein-left {
      0% {
          transform: translateX(-100%);
      }
      100% {
          transform: translateX(0);
      }
  }
  
  @keyframes slidein-right {
      0% {
          transform: translateX(100%);
      }
      100% {
          transform: translateX(0);
      }
  }
  
  #aFoot  {
  
  
  animation: 3s slidein-left;
  display: flex;
  align-items: center;
  justify-content: center;
  
  }
  
  #youLeave  {
  
  animation: 3s slidein-right;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  
  
  
  
  
  /* Keyframes nav-bar */
  @-webkit-keyframes circle {
      50% {
        width: 10px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 1px;
        z-index: -1;
        background: #eee;
        border-radius: 50%;
      }
      100% {
        background:darkolivegreen;
        height: 5000%;
        width: 5000%;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 10px;
      }
    }
  
  
    nav.circle ul li a {
      position: relative;
      overflow: hidden;
      z-index: 1;
    }
    nav.circle ul li a:after {
      display: block;
      position: absolute;
      margin: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: '.';
      color: transparent;
      width: 1px;
      height: 1px;
      border-radius: 50%;
      background: transparent;
    }
    nav.circle ul li a:hover:after {
      -webkit-animation: circle 1.5s ease-in forwards;
  
    }
  
  
  
  /* search-bar */
  
    .tb
  {
      display: table;
      width: 100%;
  }
  
  .td
  {
      display: table-cell;
      vertical-align: middle;
  }
  
  input, button
  {
      color: darkolivegreen;
      font-family: Nunito;
      border: 0;
      background-color: transparent;
      
  }
  
  #cover
  {
      position: absolute;
      top: 60%;
      width: 550px;
      padding: 35px;
      margin: -83px auto 0 auto;
      background-color: white;
      border-radius: 20px;
      box-shadow: 0 10px 40px white, 0 0 0 20px #ffffffeb;
      transform: scale(0.6);
  }
  
  form
  {
      height: 69px;
  }
  
  input[type="text"]
  {
      width: 420px;
      height: 98px;
      font-size: 60px;
      line-height: 1;
      outline: none;
  }
  
  input[type="text"]::placeholder
  {
      color: darkolivegreen;
  }
  
  #s-cover
  {
      width: 1px;
      padding-left: 35px;
  }
  
  button
  {
      position: relative;
      display: block;
      width: 84px;
      height: 96px;
      cursor: pointer;
  }
  
  #s-circle
  {
      position: relative;
      top: -8px;
      left: 0;
      width: 43px;
      height: 43px;
      margin-top: 0;
      border-width: 15px;
      border: 15px solid orange;
      background-color: transparent;
      border-radius: 50%;
      transition: 0.5s ease all;
  }
  
  button span
  {
      position: absolute;
      top: 68px;
      left: 43px;
      display: block;
      width: 45px;
      height: 15px;
      background-color: transparent;
      border-radius: 10px;
      transform: rotateZ(52deg);
      transition: 0.5s ease all;
  }
  
  button span:before, button span:after
  {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 45px;
      height: 15px;
      background-color:orange;
      border-radius: 10px;
      transform: rotateZ(0);
      transition: 0.5s ease all;
  }
  
  #s-cover:hover #s-circle
  {
      top: -1px;
      width: 67px;
      height: 15px;
      border-width: 0;
      background-color:orange;
      border-radius: 20px;
  }
  
  #s-cover:hover span
  {
      top: 50%;
      left: 56px;
      width: 25px;
      margin-top: -9px;
      transform: rotateZ(0);
  }
  
  #s-cover:hover button span:before
  {
      bottom: 11px;
      transform: rotateZ(52deg);
  }
  
  #s-cover:hover button span:after
  {
      bottom: -11px;
      transform: rotateZ(-52deg);
  }
  #s-cover:hover button span:before, #s-cover:hover button span:after
  {
      right: -6px;
      width: 40px;
      background-color:orange;
  }
  
  .toggle {
  
  width: 100%;
  padding: 10px 20px;
  background: transparent;
  text-align: right;
  box-sizing: border-box;
  color: white;
  font-size: 50px;
  display: none;
  
  }
  @media (max-width:1500px)
  {
  .toggle
  {
  display: block;
  
  }
  nav ul li {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 300px;
      margin-top: 10px;
    }
    nav.circle ul li a {
     overflow: visible;
    } 
  ul 
  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .active
  {
    display: block;
  }
  
  
  #cover
  {
      /* position: absolute; */
      top: 100%;
      width: 105%;
      padding: 10px;
      margin: -40px auto 0 auto;
      top: 10%;
      left: 0%;
      right: 0%;
      display: flex;
      flex-direction: inherit;
      flex-wrap: wrap;
      background-color: white;
      border-radius: 20px;
      box-shadow: 0 10px 40px white, 0 0 0 20px #ffffffeb;
      transform: scale(0.4);
  }
  
  
  /* Keyframes nav-bar */
  @-webkit-keyframes circle {
    50% {
      width: 10px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      height: 1px;
      z-index: -1;
      background: #eee;
      border-radius: 50%;
    }
    100% {
      background:darkolivegreen;
      height: 80%;
      width: 80%;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 10px;
    }
  }
  
  nav.circle ul li a {
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  nav.circle ul li a:after {
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '.';
    color: transparent;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: transparent;
  }
  nav.circle ul li a:hover:after {
    -webkit-animation: circle 1.0s ease-in forwards;
  }
  
  .banner h2 {
  
    font-size: 50px;
    font-family: 'Liu Jian Mao Cao', cursive;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .banner h1 {
  
    font-size: 50px;
    font-family: 'Liu Jian Mao Cao', cursive;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .tb
  {
    
  position: absolute;
  }
  
  
  input, button
  {
      color: darkolivegreen;
      font-family: Nunito;
      background-color: transparent;
      
  }
  }